<h1>list of Nintendo Characters!</h1>
<br>

 <!-- link_to "Randomize this database", nintendo_characters_index_path, :method => :put %> -->

<div class="container">
<li><% @nintendo_characters.each do |nintendo_character| %>
    <div class="one"><ul><b> ID: <%= nintendo_character.id %></b></ul></div>
    <div class="two"><h3><ul id="name"> Name: <%= nintendo_character.first_name %> <%= nintendo_character.last_name %></ul></h3></div>

    <ul> Age: <%= nintendo_character.age %></ul>

    <ul><%= link_to "details", nintendo_character_path(nintendo_character.id) %></ul>
    <br>
    <br>
  <% end %></li></div>
