<!DOCTYPE html>
<html>
  <head>
    <title>John Bertlik - Web Developer</title>
    <link href="https://fonts.googleapis.com/css?family=Raleway:500" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    <header is="main-navigation" class="clearfix">
      <a href="#" class="name">John Bertlik</a>

      <nav>
        <a href="#">About</a>
        <a href="#">Blog</a>
        <a href="#">Projects</a>
        <a href="#">Interests</a>
        <a href="#">Contact</a>
      </nav>
    </header>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    
    <%= yield %>

    <footer id="main_footer">
      <p class="copyright">&copy; 2018 John Bertlik</p>
      <nav>
        <a href="#"><i class="fab fa-github"></i></a>
        <a href="#"><i class="fab fa-soundcloud"></i></a>
        <a href="#"><i class="fab fa-youtube"></i></a>
      </nav>
    </footer>
  </body>
</html>
